/* Tablet responsive */

@media screen and (max-width: 769px) {
    section .container {
        width: 100%;
    }
}



/* Mobile responsive */

@media screen and (max-width: 481px) {

    section .container,
    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }

    .container .row {
        flex-direction: column;
        align-items: center;
    }
}